* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 1.5rem 1.5rem 0;
    border-bottom: 1px solid #5f6368;
}

.title {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
}

.title img {
    width: 100px;
    padding-right: 1rem;
}

h3, p, a {
    color: #5f6368;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline; 
    padding-right: 2rem;
}

.navbar ul li a {
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: .5rem;
    border-bottom: 3px solid transparent;
} 

.navbar ul li a:hover, .navbar ul li a:focus {
    color: #3367d6;
    border-bottom: 3px solid #3367d6;
}
